/* Estilos Nuevo Loader */

#loader {
    display: block;
    height: 50px;
    width: 50px;
    position: fixed;
    /* right: 20px; */
    left: 20px;
    bottom: 50px;
}

#loader #circle {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    -webkit-transition: all 180ms ease-out;
    transition: all 180ms ease-out;
    opacity: 0;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

#loader #circle:after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border: 3px solid #dc3545;
    border-radius: 50%;
    border-left-color: transparent;
    border-top-color: transparent;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-animation: RotateIt 1s linear infinite;
    animation: RotateIt 1s linear infinite;
}

#loader #circle:before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border: 3px solid #efefef;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

#loader.visible #circle {
    opacity: 1;
    -webkit-animation: hop 280ms cubic-bezier(0.5, 1.45, 0.45, 1.25);
    animation: hop 280ms cubic-bezier(0.5, 1.45, 0.45, 1.25);
}

@-webkit-keyframes hop {
    0% {
        -webkit-transform: translateY(150%);
        transform: translateY(150%);
        opcatiy: 0;
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opcatiy: 1;
    }
}

@keyframes hop {
    0% {
        -webkit-transform: translateY(150%);
        transform: translateY(150%);
        opcatiy: 0;
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opcatiy: 1;
    }
}

@-webkit-keyframes RotateIt {
    0% {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(720deg);
        transform: translate3d(-50%, -50%, 0) rotate(720deg);
    }
}

@keyframes RotateIt {
    0% {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(720deg);
        transform: translate3d(-50%, -50%, 0) rotate(720deg);
    }
}


/* Fin de Estilos Loader */